<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragz :: heads"></th:block>
    <title>login</title>
</head>
<body>

<div class="wrapper">

    <div class="container">

        <div class="jumbotron">

            <h1>Hello Guest! Welcome to OrionIn</h1>
            <p>A resume sharing site made by Orion Wolf-Hubbard</p>

        </div>

        <form th:action="@{/login}" method="post">
            <div><label> User Name: <input type="text" name="username" class="form-control"/> </label></div>
            <div><label> Password: <input type="password" name="password" class="form-control"/> </label></div>
            <div>
                <input type="submit" value="Sign In" class="btn btn-info btn-lg"/>

            </div>
        </form>
    </div>

</div>

</body>
</html>